html {
  background-color: #dddddd;
  background-image: url('../img/Background_NZ.JPG');
  background-size: 100%;
}

html * {
  color: #000;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infobox-1-outer {
  background-color: #ffffff;
  margin-top: 10vh;
  width: 90vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  filter: drop-shadow(7px 7px 0px #545454);
  @media screen and (max-width: 600px) {
    height: 120vh;
    margin-bottom: 10%;
    flex-direction: column;
  }
}

.infobox-2a-profile {
  width: 35%;
  @media screen and (max-width: 600px) {
    width: 95%;
  }
}

.infobox-2b-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2%;
  width: 65%;
  @media screen and (max-width: 600px) {
    width: 95%;
  }
}

.infobox-3a-mainpages {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  @media screen and (max-width: 600px) {
    margin-top: 2%;
    margin-bottom: 2%;
    flex-direction: column;
    align-items: center;
  }
}

.infobox-credits {
  position: absolute;
  top: 1vh;
  margin-left: 0.25vw;
  display: flex;
  justify-content: left;
  @media screen and (max-width: 600px) {
    top: 10vh;
    margin-left: 0;
  }
}

.infobox-2c-about-me {
  margin-top: 2vh;
  padding-left: 5vw;
  padding-right: 5vw;
}

.about-me-line {
  margin-bottom: 4vh;
  font-size: 18px;
}

.infobox-2d-more {
  width: 50%;
  @media screen and (max-width: 600px) {
    width: 90%;
  }
}

.credits-page-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.credits-infobox-outer {
  background-color: #ffffff;
  margin-top: 10vh;
  width: 90vw;
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  filter: drop-shadow(7px 7px 0px #545454);
  @media screen and (max-width: 600px) {
    height: 120vh;
    margin-bottom: 10%;
    flex-direction: column;
  }
}

.credits-about-me {
  text-align: left;
}

.credits-box-left {
  align-items: center;
}

.credits-box-right {
  width: 50%;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: 600px) {
    width: 90%;
  }
}
