.credits-button-container {
    color: white;
    border-radius: 20px;
    filter: drop-shadow(7px 7px 0px #888888);
    padding: 2vh 1vh 2vh 1vh;
    border: none;
    margin: 0%;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    background-color: #777777;
}

.back-button-container {
    display: flex;
    @media screen and (max-width: 600px) {
        align-items: center;
        justify-content: center;
        width: auto;
        margin-top: 15%;
    }
}

.back-button {
    fill: #333333;
    color: #333333;
    background-color: transparent;
    border: none;
    margin: 20px;
    cursor: pointer;
    font-size: 24px;
}

.about-button {
    margin-top: -2%;
    font-size: 32px;
}