.carousel-container {
  overflow: hidden;
  margin-bottom: -3%;
  border-radius: 20px;
}

.carousel-track {
  display: flex;
  border-radius: 20px;
}

.carousel-item {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  background-color: transparent;
  overflow: hidden;
  border-radius: 20px;
}

.carousel-item-image {
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  width: 110%;
  margin-left: -4%;
  /* margin-top: -4%; */
}